@import "./menu.css";
.navSection {
      justify-content: space-between;
      align-items: unset;
}

.navSection ul {
      margin: 22px 86px 0 0;
      padding: 0;
}

.navSection ul .menuLinks li a {
      color: #004094;
}

@media screen and (min-width: 1440px) {
      .navSection .logoSection {
            margin: 7px 0 27px 120px;
      }
}