@import "./fonts.sass";
@mixin font($font, $fontstyle, $fontweight, $fontsize, $lineheight, $letterspacing) {
      font-family: $font;
      font-style: $fontstyle;
      font-weight: $fontweight;
      font-size: $fontsize;
      line-height: $lineheight;
      letter-spacing: $letterspacing;
}
@mixin fontcolor {
      color: #367bf5;
}
%button {
      background: #367bf5;
      color: white;
      border: unset;
      border-radius: 6px;
}
@mixin button {
      background: #367bf5;
      color: white;
      border: unset;
      border-radius: 6px;
}
@mixin btn {
      position: relative;
      padding: 16px 20px;
      @include font(RT Mono, normal, bold, 18px, 134%, null);
      margin-top: 32px;
      @include button;
}
@mixin triangle {
      position: absolute;
      bottom: 4px;
      right: 4px;
      width: 0;
      height: 0;
      border-top: 4px solid transparent;
      border-right: 4px solid #f9b53b;
      border-bottom: 4px solid #f9b53b;
      border-left: 4px solid transparent;
      border-radius: 0px 0px 4px 0px;
}
@mixin redpoint {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background: #ffffff;
      margin: auto;
}
@mixin redstar {
      display: flex;
      flex: 0 0 16px;
      height: 16px;
      background-image: url(./img/redstar.png);
      background-size: auto;
      background-attachment: cover;
      margin: 4px 0 0 16px;
      .redpoint {
            @include redpoint();
      }
}
@mixin descr {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      .helptitle {
            @include font(Inter, normal, 500, 20px, 138%, 0.005em);
      }
      .helpdescr {
            @include font(TT Norms, normal, 500, 16px, 134%, 0.005em);
            margin-top: 6px;
      }
}
@mixin undernumslide {
      display: flex;
      align-items: flex-start;
      .redstar {
            @include redstar();
      }
      .descr {
            @include descr();
      }
}
@mixin description {
      margin: unset;
      li {
            list-style: none;
            margin-top: 20px;
      }
      li:first-child {
            margin-top: unset;
      }
      .undernumslide {
            @include undernumslide();
      }
}
@mixin buttons($val) {
      top: unset;
      bottom: 25px;
      left: $val;
      background: #004094;
      border-radius: 50%;
      padding: 0 9px;
}
@mixin undertitle {
      display: block;
      text-align: center;
      @include font(TT Norms, normal, normal, 26px, 128%, 0.01em);
      margin-top: 18px;

      color: #202642;
}
@mixin title($top) {
      display: block;
      text-align: center;
      @include font(TT Norms-Bold, normal, normal, 48px, 124%, null);
      @include fontcolor;
      margin-top: $top;
}
@mixin nko-worker($left) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: $left;
      iframe {
            border-radius: 12px;
      }
      .nko-worker-name {
            @include font(TT Norms-Bold, normal, bold, 24px, 124%, 0.005em);
            color: #324883;
            text-align: center;
            margin-top: 28px;
            color: #324883;
      }
      .nko-worker-description {
            @include font(TT Norms, normal, normal, 16px, 134%, 0.005em);
            color: #324883;
            text-align: center;
            margin-top: 28px;
      }
}
body {
      margin: 0;
      padding: 0;
}
main {
      margin-top: 157px;
}
.invitation {
      display: flex;
      margin: 0 120px 0;
      .maiinContent {
            margin: unset;
      }
      .text {
            margin-right: 177px;
            .title {
                  display: block;
                  @include font(TT Norms-Bold, normal, bold, 48px, 114%, null);
                  @include fontcolor;
                  margin: unset;
                  margin-top: 51px;
                  span {
                        color: #f23b53;
                  }
            }
            .undertitle {
                  display: block;
                  @include font(TT Norms, normal, normal, 22px, 148%, 0.005em);
                  @include fontcolor;
                  margin-top: 18px;
            }
            button {
                  @include btn;
                  .becomedoctor {
                        display: none;
                  }
            }
            .tri {
                  @include triangle;
            }
            .underButton {
                  display: block;
                  @include font(TT Norms, normal, 500, 16px, 128%, 0.005em);
                  @include fontcolor;
                  margin-top: 13px;
            }
      }
}
.title {
      display: block;
      text-align: center;
      @include font(TT Norms-Bold, normal, normal, 48px, 124%, null);
      @include fontcolor;
      margin-top: 128px;
}
.undertitle2 {
      display: block;
      text-align: center;
      @include font(TT Norms, normal, normal, 18px, 148%, null);
      margin: 20px 328px 0;
}
.howhelp {
      display: flex;
      justify-content: center;
      margin: 36px 182px 0;
      .video {
            iframe {
                  border-radius: 4px;
                  border: unset;
            }
            button {
                  display: block;
                  @include btn();
                  margin-top: 40px;
                  .tri {
                        @include triangle;
                  }
            }
      }
      .description {
            @include description();
      }
}
.selection {
      margin: 88px 120px 0 182px;
      display: flex;
      .title {
            margin-top: unset;
            text-align: unset;
      }
      .selection-list {
            flex-direction: column;
            margin-top: 33px;
            padding: unset;
            li {
                  list-style: none;
                  margin-top: 18px;
            }
            li:first-child {
                  margin-top: unset;
            }
            display: flex;
            .undernumslide {
                  display: flex;
                  align-items: flex-start;
                  .redstar {
                        @include redstar();
                        margin-left: unset;
                  }

                  .descr {
                        @include descr();
                        .helptitle {
                              @include font(TT Norms, normal, 500, 18px, 136%, null);
                              color: #304b93;
                        }
                  }
            }
      }
      .swiper-container {
            flex: 0 0 620px;
            min-height: 332px;
            background: #f5f8fa;
            border-radius: 12px;
            .row {
                  display: flex;
                  align-items: flex-start;
                  margin: 40px 0 0 32px;
                  .doctorinfo {
                        display: flex;
                        flex-direction: column;
                        max-width: 500px;
                        margin-left: 24px;
                        .position,
                        .opit {
                              @include font(TT Norms-Bold, normal, normal, 16px, 136%, 0.01em);
                              color: #304b93;
                        }
                        .fio {
                              display: block;
                              margin-top: 14px;
                              @include font(TT Norms-Bold, normal, 500, 30px, 124%, 0.005em);
                              color: #0b1635;
                        }
                        .opit {
                              margin-top: 10px;
                        }
                        .education {
                              margin-top: 16px;
                              @include font(TT Norms, normal, 500, 16px, 144%, null);
                              span {
                                    color: #0b1635;
                              }
                        }
                  }
            }
            .educationmob {
                  display: none;
            }
            .swiper-pagination {
                  display: none;
            }
            .swiper-button-prev {
                  @include buttons(155);
            }
            .swiper-button-prev::after,
            .swiper-button-next::after {
                  content: unset;
            }
            .swiper-button-next {
                  @include buttons(217);
            }
      }
}
.inourteam {
      margin: 50px 0 0 182px;
      .title {
            font-size: 36px;
            line-height: 114%;
            text-align: unset;
            margin: unset;
      }
      .undertitle {
            display: block;
            width: 45%;
            margin-top: 14px;
            @include font(TT Norms, normal, 500, 16px, 134%, 0.005em);
            color: #202642;
      }
      .container {
            display: flex;
            flex-wrap: wrap;
            margin-top: 20px;
            .item {
                  display: flex;
                  align-items: center;
                  flex: 0 0 33%;
                  margin-top: 20px;
                  border: unset;
                  span {
                        margin-left: 16px;
                        @include font(Inter, normal, 500, 20px, 138%, 0.005em);
                        color: #304b93;
                  }
            }
      }
}
.joinus {
      button {
            display: block;
            @include btn();
            margin: 64px auto 0;
            .tri {
                  @include triangle;
            }
      }
}
.who-we-need {
      background: #f5f8fa;
      margin-top: 48px;
      .title {
            padding-top: 48px;
            margin-top: unset;
      }
      .undertitle {
            @include undertitle();
            span {
                  font-weight: 800;
            }
      }
      .we-need-list {
            display: flex;
            flex-wrap: wrap;
            margin: 23px 116px 0 282px;
            justify-content: center;
            .undernumslide {
                  flex: 0 0 33%;
                  display: flex;
                  align-items: center;
                  margin-top: 32px;
                  .redstar {
                        @include redstar();
                        margin-left: unset;
                  }

                  .helptitle {
                        margin-left: 12px;
                        @include font(TT Norms, normal, 500, 26px, 134%, 0.005em);
                        color: #202642;
                  }
            }
      }
      .lastext {
            display: block;
            text-align: center;
            margin: 40px 328px 0;
            @include font(TT Norms, normal, 500, 18px, 158%, null);
            color: #304b93;
      }
      .joinus {
            padding-bottom: 48px;
            button {
                  margin: 48px auto 0;
            }
      }
}
.results {
      .title {
            margin-top: 96px;
      }
      .title:nth-child(2) {
            display: none;
      }
      .undertitle {
            display: block;
            @include undertitle();
            margin: 0 377px 0;
            font-size: 20px;
      }
      .undertitlemob {
            display: none;
      }
      .years {
            display: flex;
            justify-content: center;
            margin: 38px 124px 0;
            div {
                  margin-left: 64px;
            }
            div:first-child {
                  margin-left: unset;
            }
      }
      .numbs {
            display: none;
      }
      .after-numbersmob {
            li {
                  list-style: none;
                  margin-top: 22px;
                  span {
                        @include font(TT Norms, normal, 500, 20px, 124%, 0.005em);
                  }
            }
            li:first-child {
                  margin-top: unset;
            }

            display: none;
      }
}
.partners-title {
      @include title(113px);
      margin: 113px 20px 0;
}
.partnersWrappeGr {
      margin: 48px 132px;
      display: grid;
      grid-template-columns: auto auto auto auto;
      gap: 32px;
      justify-content: center;
      .partnersItemGr {
            display: flex;
            background: #f5f8fa;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            padding: 75px;
            font-family: TT Norms;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 124%;
            color: #304b93;
      }
}
.nko-titles {
      .nko-title {
            @include title(90);
            margin: 90px 361px 0;
      }
      .nko-title:nth-child(2) {
            display: none;
      }
}

.nko {
      display: flex;
      margin: 48px 140px 0;
      .nko-worker {
            @include nko-worker(40);
      }
      .nko-worker:first-child {
            margin-left: unset;
      }
}
.nko-slides {
      display: none;
      .swiper-container {
            width: 100%;
            height: 420px;
            margin-top: 32px;
            .nko-worker {
                  @include nko-worker(0);
                  iframe {
                        width: 95%;
                        display: block;
                  }
                  .nko-worker-description {
                        display: block;
                        width: 95%;
                  }
            }
            .swiper-pagination {
                  top: 410px;
            }
      }
}
.history {
      .title {
            @include title(90);
      }
      .undertitle {
            display: block;
            @include font(TT Norms, normal, normal, 18px, 136%, 0.005em);
            color: #0b1635;
            margin-top: 20px;
            text-align: center;
      }
      .patients {
            display: flex;
            margin: 48px 140px 0;
            .nko-worker {
                  @include nko-worker(48);
                  iframe {
                        border-radius: unset;
                        border-top-left-radius: 12px;
                        border-top-right-radius: 12px;
                  }
                  align-items: flex-start;
                  .nko-worker-name {
                        display: block;
                        margin: 16px 0 0 15px;
                        @include font(TT Norms, normal, 500, 18px, 148%, 0.005em);
                        color: #004094;
                  }
                  .nko-worker-description {
                        text-align: unset;
                        @include font(TT Norms, normal, 500, 18px, 148%, 0.005em);
                        color: #0b1635;
                        margin: 8px 0 0 15px;
                  }
                  .patient-name {
                        display: flex;
                        align-items: center;
                        margin: 16px 0 0 16px;
                        img {
                              border-radius: 50%;
                        }
                        span {
                              margin-left: 14px;
                              @include font(TT Norms, normal, 500, 16px, 138%, 0.005em);
                              color: #0b1635;
                        }
                  }
            }
            .nko-worker:first-child {
                  margin-left: unset;
            }
      }
      .patients-slide {
            display: none;
            .swiper-container {
                  width: 100%;
                  height: 420px;
                  margin-top: 32px;
                  .nko-worker {
                        @include nko-worker(0);
                        iframe {
                              width: 95%;
                              border-radius: unset;
                              border-top-left-radius: 12px;
                              border-top-right-radius: 12px;
                              box-shadow: 0px 3px 10px rgba(37, 76, 147, 0.14);
                        }
                        .nko-worker-description {
                              display: block;
                              width: 95%;
                        }
                  }
                  .swiper-pagination {
                        top: 410px;
                  }
            }
      }
}
.how-become {
      .title {
            @include title(98);
      }
      .undertitle {
            display: block;
            @include font(TT Norms, normal, normal, 18px, 148%, 0.01em);
            color: #202642;
            margin: 18px 328px 0;
            text-align: center;
      }
      .container {
            display: flex;
            margin: 24px 121px 0 183px;
            .become-list {
                  flex: 0 0 50%;
                  .undernumslide {
                        display: flex;
                        align-items: center;
                        margin-top: 24px;
                        .redstar {
                              @include redstar();
                              margin-left: unset;
                        }

                        .helptitle {
                              margin-left: 12px;
                              @include font(TT Norms, normal, 500, 18px, 136%, 0.005em);
                              color: #202642;
                        }
                  }
            }
            .form {
                  margin-top: 24px;
                  background: #f5f8fa;
                  border-radius: 8px;
                  flex: 0 0 50%;
                  .form-title {
                        display: block;
                        margin: 24px auto 0;
                        @include font(TT Norms, normal, 500, 18px, 136%, 0.005em);
                        color: #202642;
                        text-align: center;
                  }
                  .form-container {
                        margin: 0 24px 0;
                        display: flex;
                        flex-wrap: wrap;
                        input {
                              display: block;
                              flex: 0 0 calc(50% - 16px);
                              margin: 20px 0 0 32px;
                              padding: 14px 0 14px 18px;
                              background: #ffffff;
                              border: 1px solid rgba(0, 64, 148, 0.3);
                              border-radius: 4px;
                        }
                        ::placeholder {
                              color: #004094;
                              @include font(Inter, normal, normal, 14px, 140%, 0.005em);
                        }
                        input:nth-child(odd) {
                              margin-left: unset;
                        }
                  }
                  .agreement {
                        display: none;
                        justify-content: start;
                        margin-top: 17px;
                        padding-bottom: 38px;
                        .agreement-text {
                              @include font(Inter, normal, 500, 12px, 136%, null);
                              color: #0b1635;
                              margin-left: 7px;
                              span {
                                    color: #004094;
                              }
                        }
                  }
                  button {
                        display: block;
                        @include btn();
                        background: #304b93;
                        border-radius: 6px;
                        margin: 24px 0 32px 24px;
                        padding: 12px 40px;
                        .tri {
                              @include triangle;
                        }
                  }
            }
      }
}
.all-answers {
      display: block;
      background: #f5f8fa;
      overflow: hidden;
      margin-top: 50px;
      .title {
            @include title(48);
      }
      .answers {
            margin: 32px 0 48px;
            .answers-list {
                  margin: 0 297px 0;
                  background: #ffffff;
                  overflow: hidden;
                  .qa {
                        display: flex;
                        align-items: center;

                        justify-content: space-between;
                        .question {
                              @include font(TT Norms, normal, 500, 18px, 124%, null);
                              color: #367bf5;
                              margin-left: 20px;
                              padding: 18px 0;
                        }
                        .plus {
                              display: flex;
                              border: 1px solid #304b93;
                              border-radius: 50%;
                              padding: 9px;
                              color: #304b93;
                              justify-content: center;
                              align-items: center;
                              margin-right: 20px;
                              cursor: pointer;
                        }
                  }
                  .answer-block {
                        margin: 0 8px 8px;
                        background: #f5f8fa;
                        overflow: hidden;
                        span {
                              display: block;
                              @include font(Inter, normal, normal, 14px, 154%, 0.005em);
                              color: #0b1635;
                              margin: 16px 80px 12px 10px;
                        }
                  }
            }
      }
}
@media screen and(min-width:1280px) {
      body {
            width: 1280px;
            margin: 0 auto 0;
            .nko {
                  margin: 48px auto 0;
            }
            .how-become {
                  .title {
                        @include title(98);
                  }
                  .undertitle {
                        display: block;
                        @include font(TT Norms, normal, normal, 18px, 148%, 0.01em);
                        color: #202642;
                        margin: 18px 328px 0;
                        text-align: center;
                  }
                  .container {
                        display: flex;
                        margin: 24px 121px 0 183px;
                        .become-list {
                              flex: 0 0 50%;
                              .undernumslide {
                                    display: flex;
                                    align-items: center;
                                    margin-top: 24px;
                                    .redstar {
                                          @include redstar();
                                          margin-left: unset;
                                    }

                                    .helptitle {
                                          margin-left: 12px;
                                          @include font(TT Norms, normal, 500, 18px, 136%, 0.005em);
                                          color: #202642;
                                    }
                              }
                        }
                        .form {
                              margin-top: 24px;
                              background: #f5f8fa;
                              border-radius: 8px;
                              flex: 0 0 50%;
                              .form-title {
                                    display: block;
                                    margin: 24px auto 0;
                                    @include font(TT Norms, normal, 500, 18px, 136%, 0.005em);
                                    color: #202642;
                                    text-align: center;
                              }
                              .form-container {
                                    margin: 0 24px 0;
                                    display: flex;
                                    flex-wrap: wrap;
                                    input {
                                          display: block;
                                          flex: 0 0 calc(50%-16px);
                                          margin: 10px 0 0 8px;
                                          padding: 7px 0 7px 9px;
                                          background: #ffffff;
                                          border: 1px solid rgba(0, 64, 148, 0.3);
                                          border-radius: 4px;
                                    }
                                    ::placeholder {
                                          color: #004094;
                                          @include font(Inter, normal, normal, 14px, 140%, 0.005em);
                                    }
                                    input:nth-child(odd) {
                                          margin-left: unset;
                                    }
                              }
                              .agreement {
                                    display: none;
                                    justify-content: start;
                                    margin-top: 17px;
                                    padding-bottom: 38px;
                                    .agreement-text {
                                          @include font(Inter, normal, 500, 12px, 136%, null);
                                          color: #0b1635;
                                          margin-left: 7px;
                                          span {
                                                color: #004094;
                                          }
                                    }
                              }
                              button {
                                    display: block;
                                    @include btn();
                                    background: #304b93;
                                    border-radius: 6px;
                                    margin: 24px 0 32px 24px;
                                    padding: 12px 40px;
                                    .tri {
                                          @include triangle;
                                    }
                              }
                        }
                  }
            }
      }
}
@media screen and(min-width:1600px) {
      body {
            width: 1440px;
            margin: 0 auto 0;
      }
}
